@mixin backgroundOfMusicBar() {
    background-image: url(../images/musicBar.png);
    background-repeat: repeat-x;
}

.musicBar {
    @include backgroundOfMusicBar();
    width: 20%;
    float: left;
}

.musicInfo {
    @include backgroundOfMusicBar();
    width: 100px;
    float: left;
}

.musicLine {
    width: 100%;
    clear: left;
}

.measureEnds {
    bottom: 15px;
}

.trebleSignature {
  float: left;
}

.meter {
    float: left;
    margin: {
        top: 6px;
        right: 15px;
    }
    font: {
        size: 24px;
        weight: bold;
    }
    width: 10px;
    line-height: 18px;
    color: 000000;
}

.keySignature {
    float: left;
}

.differingRepeat {
    font-size: 16px;
    float: left;
    margin: {
        top: -13px;
        right: -90%;
        left: -10px;
    }
    border: {
        left: {
            width: 1px;
            style: solid;
            color: black;
        }
        top: {
            width: 1px;
            style: solid;
            color: black;
        }
    }
    width: 90%;

}