$interval: 4.5px;
$base: 51px;

@mixin note($numberOfIntervals) {
    position: relative;
    top: $base - ($interval * $numberOfIntervals);
    margin-left: 2px;
    margin-right: 2px;
    float: left;
}

@mixin noteBetweenBarsOutsideOfMeasures() {
    background-image: url("../images/noteBetweenBarsOutsideOfMeasure.png");
    background-repeat: no-repeat;
}


@mixin noteOnBarOutsideOfMeasure() {
    background-image: url("../images/noteOnBarOutsideOfMeasure.png");
    background-repeat: no-repeat;
}

@mixin flipped() {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    margin-top: 20px;
}

@mixin createNote($i, $offset, $noteOnBarNumber, $noteBetweenBarNumber, $flipPointNumber, $noteOnBarNumberTop, $noteBetweenBarNumberTop) {
        @if $i == $noteOnBarNumber or $i == $noteOnBarNumberTop {
            @include noteOnBarOutsideOfMeasure()
        }
        @if $i == $noteBetweenBarNumber or $i == $noteBetweenBarNumberTop {
            @include noteBetweenBarsOutsideOfMeasures()
        }
        @if $i >= $flipPointNumber {
            @include flipped()
        }
        @include note( (($i - 2) * 7) - $offset)

}

@for $i from 3 through 7 {
    .a#{$i} {
        @include createNote($i, 8, 4, 0, 6, 6, 7)
    }
    .b#{$i} {
        @include createNote($i, 7, 0, 4, 6, 7, 6)
    }
    .c#{$i} {
        @include createNote($i, 6, 4, 3, 5, 6, 0)
    }
    .d#{$i} {
        @include createNote($i, 5, 3, 0, 5, 0, 6)
    }
    .e#{$i} {
        @include createNote($i, 4, 0, 3, 5, 6, 0)
    }
    .f#{$i} {
        @include createNote($i, 3, 3, 0, 5, 0, 6)
    }
    .g#{$i} {
        @include createNote($i, 2, 0, 3, 5, 6, 0)
    }
    .a#{$i}-key {
        @include createNote($i, 8, 4, 0, 10, 6, 7)
    }
    .b#{$i}-key {
        @include createNote($i, 7, 0, 4, 10, 7, 6)
    }
    .c#{$i}-key {
        @include createNote($i, 6, 4, 3, 10, 6, 0)
    }
    .d#{$i}-key {
        @include createNote($i, 5, 3, 0, 10, 0, 6)
    }
    .e#{$i}-key {
        @include createNote($i, 4, 0, 3, 10, 6, 0)
    }
    .f#{$i}-key {
        @include createNote($i, 3, 3, 0, 10, 0, 6)
    }
    .g#{$i}-key {
        @include createNote($i, 2, 0, 3, 10, 6, 0)
    }
}


